.login-page, .register-page {
    padding: 1px 0;
}

.login-box, .register-box {
    margin: 25px auto 0 auto;
    padding: 0 0 30px 0;
}

.image {
    margin: 0 10px;
}

.sidebar-menu {
    width: 100%;
    list-style: none;
    top: 212px;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    /* overflow-x: hidden;
    overflow-y: scroll; */
}

/* .sidebar-menu::-webkit-scrollbar {
    width: 5px;
}

.sidebar-menu::-webkit-scrollbar-track {
    background: #222D32;
    border-radius: 5px;
}

.sidebar-menu::-webkit-scrollbar-thumb {
    background: #b8c7ce;
    border-radius: 5px;
} */

.sidebar-collapse .sidebar-menu li a {
    padding-left: 12px;
}

#copyright {
    padding: 20px 20px 35px 20px;
    color: #b8c7ce;
}

.form-group:not(.has-error) #username:focus+#username-icon,
#fullname:focus+#fullname-icon,
.form-group:not(.has-error) #email:focus+#email-icon,
#password:focus+#password-icon,
#password_confirmation:focus+#password_confirmation-icon {
    border-color: #3c8dbc;
}

.form-group.has-error .dhs_input-icon {
    border-color: #dd4b39;
}

.form-label {
    margin: 0 !important;
}

#logout-form {
    display: none;
}

.table thead tr th,
.table thead tr th,
.table tbody tr td,
.table tbody tr td {
    vertical-align: middle;
}

#dhs_image {
    width: 50px;
    height: 50px;
    vertical-align: baseline !important;
}

.dhs_search-input {
    padding: 6px 0 6px 12px !important;
}

.dhs_user-image {
    margin: -1px 0 0 0 !important;
}

.dhs_username-toggle {
    margin: 0 0 0 4px;
}

.dhs_dropdown-menu {
    margin: 0 !important;
    right: 15px !important;
}

.dhs_input-bar {
    border-right: none;
    padding: 6px 0 6px 12px;
}

.dhs_input-icon {
    background-color: #fff;
    border-radius: 0;
    border-left: none;
}

.dhs_col-header,
.dhs_col-button {
    text-align: center;
}

@media (min-width: 580px) {
    .dhs_col-header {
        text-align: left;
    }

    .dhs_col-header h3 {
        margin: 0;
    }

    .dhs_col-button {
        text-align: right;
    }
}

@media (min-width: 751px) {
    .sidebar-menu {
        top: 162px;
    }

    .sidebar-collapse .sidebar-menu {
        top: 50px;
    }
}

@media (min-width: 769px) {
    .login-box, .register-box {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .dhs_dropdown-toggle {
        padding: 15px 0 !important;
    }

    .dhs_username-toggle {
        margin: 0 0 0 8px;
    }

    .dhs_dropdown-menu {
        top: 38px !important;
        right: -1.4px !important;
    }
}

@media (max-width: 580px) {
    .dhs_button {
        display: block;
    }
}